/**
  页面字体规范
 */
$fontFamily:'Arial Negreta', 'Arial';
$fontFamily2:'Arial Negreta', 'Arial';
$large: 18px;
$medium: 16px;
$small: 14px;
$extraSmall: 12px;
$color:#909399;
$border:1px solid rgba(215, 215, 215, 1);
$fontWeight-7:700;
$cursor:pointer;
